/*General settings*/

body {
  margin: 50px;
  box-sizing: border-box;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  position: relative;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

/* CSS Grid*/

.wrapper {
		display: grid;
    height: 80vh;
    grid-gap: 20px;
		grid-template-columns: 20% 40% 40%;
		grid-template-areas:
    "header  header  header"
		"sidebar content content"
		"footer  footer  footer";
	}


.box {
  background-color: #444;
  color: #fff;
  border-radius: 50px;
  padding: 50px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}


/*background colors*/

body,.box {
  background: linear-gradient(308deg, #ccc6f0, #3d39d7);
 
  background-size: 400% 400%;

  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}